<div class="panel_head wdth100">
  <a href="javascript:void(0)">
      <div class="wdth100">
          <%= image_tag url.favicon_url, class: 'pull-left thumb-sm m-r-sm img-circle favicon_img' %>
          <span>@abbreviations.com</span>
      </div>
      <small>abbreviations.com</small>
  </a>
  <a href="javascript:void(0);" class="text-right"><%= Time.now.strftime('%A %B %d')
 %></a>
</div>
<div class="panel_body wdth100">
  <div class="panel_row wdth100">
    <div class="panel_img">
      <%= image_tag url.screenshot_url, class: 'pull-left thumb-sm m-r-sm img-circle ' if url.screenshot_url.present? %>
    </div>
    <div class="panel_cntnt">
      <%= link_to url.url, class: 'search_desc' do %>
        <span>
          <i class="fas fa-table"></i><%= url.description.truncate(140) %>
        </span>
      <% end %>
      <%= link_to url.url, class: 'search_desc' do %>
        <span>
          <i class="fas fa-external-link-alt"></i><%= url.url %>
        </span>
      <% end %>
    </div>
  </div>
</div>
    <li><%= link_to tags_path(url: url, title: "Who_tag" ),title: 'Add Who Tag', method: :post, remote: true do %>
      <i class="fas fa-user text_info"></i>
      <small><%=  url.tags.where(type: "WhoTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "Add_where_tag"),title: 'Add Where Tag', method: :post, remote: true do %>
      <i class="fas fa-map-marker-alt text_info"></i>
      <small><%=  url.tags.where(type: "WhereTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "Add_what_tag" ),title: 'Add What Tag', method: :post, remote: true do %>
      <i class="fas fa-tags text_info"></i>
      <small><%=  url.tags.where(type: "WhatTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "Add_when_tag" ),title: 'Add When Tag', method: :post, remote: true do %>
      <i class="fas fa-calendar-alt text_info"></i>
      <small><%=  url.tags.where(type: "WhenTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "Info"),title: 'Info', method: :post, remote: true do %>
      <i class="fas fa-info-circle text_info"></i>
      <small><%=  url.tags.where(type: "WhyTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "Add_Photo"),title: 'Add Photo', method: :post, remote: true do %>
      <i class="fas fa-camera text_info"></i>
      <small><%=  url.tags.where(type: "PhotoTag").count %></small>
    <% end %></li>

    <li><%= link_to tags_path(url: url, title: "EmbeddedVideos"),title: 'Embedded Video,tweet,HTML', method: :post, remote: true do %>
      <i class="fas fa-file-code"></i>
      <small><%=  url.tags.where(type: "VideoTag").count %></small>
    <% end %></li>
