<div class="content">


  <% @urls.each do |url|  %>
    <section class="searcheng wdth100">

      <!-- <a href="javscript:void(0);"> -->
      <a href="<%= url.url %>" target="_blank">
        <%= image_tag url.favicon_url, class: 'pull-left thumb-sm m-r-sm img-circle favicon_img' %>
      </a>

      <div class="searcheng_row wdth100">
        <span class="arrow left"></span>
        <div class="searcheng_col panel-heading wdth100">
          <a href="<%= url.url %>" target="_blank">
            <span> <%= url.url %> </span>
            <h5><%= url.title %></h5>
          </a>
        </div>
        <div class="searcheng_col2 wdth100">
          <span class="img_box">
            <%= image_tag url.screenshot_url, class: 'pull-left thumb-sm m-r-sm img-circle ' if url.screenshot_url.present? %>
            <!-- <img src="https://bootcamps-uploads.s3.amazonaws.com/store/6e1684d25edb98004390cf33e643bc84?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJF5QHW2P5ZLAGVDQ%2F20181204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181204T104215Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=d1a3a233a6ef89cbe752a4fe3bce793c93e1f2b603d442d51cf6597602bd31a1"> -->
          </span>
          <span>
            <%#= url.what_tags %>
          </span>
          <div class="searc_col_rt">
            <ul class="post_likes">
              <!-- <li><a href="javascript:void(0);"><i class="fas fa-code" ></i></a></li> -->
              <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
               <i class='fas fa-code'></i>
               <% end %>
              <!-- <li><i class="fas fa-code url_data" data-toggle="modal" data-target="#embed-modal" data-remote="true"></i></li> -->
              <!-- <li><a href="javascript:void(0);"><i class="fas fa-thumbs-up"></i></a></li> -->
              <li><%= link_to like_path(url: url), method: :post, remote: true do %>
                <i class="fas fa-thumbs-up"></i>
                <%= url.likes.count rescue 0 %>
              <% end %></li>

              <!-- <li><a href="javascript:void(0);"><i class="fas fa-thumbs-down"></i></a></li> -->

              <li><%= link_to dislike_path(url: url), method: :post, remote: true do %>
                <i class="fas fa-thumbs-down"></i>
                <%= url.dislikes.count rescue 0 %>
                <% end %></li>
              </li>
            </ul>
          </div>
          <div>
            <div id="diff-tag_<%= url.id %>">
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end%>




  <section class="searcheng wdth100">
    <a href="javscript:void(0);"><img alt="espnfc.us" class="pull-left thumb-sm m-r-sm img-circle" src="http://s2.googleusercontent.com/s2/favicons?domain_url=espnfc.us&amp;sz=32"></a>
    <div class="searcheng_row wdth100">
      <span class="arrow left"></span>
      <div class="searcheng_col panel-heading wdth100">
        <a href="javascript:void(0)">
          <span> @espnfc.us</span>
          <h5>Fortuna Düsseldorf News and Scores - ESPN FC</h5>
        </a>
      </div>
      <div class="searcheng_col2 wdth100">
        <span class="img_box"><img src="https://bootcamps-uploads.s3.amazonaws.com/store/6e1684d25edb98004390cf33e643bc84?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJF5QHW2P5ZLAGVDQ%2F20181204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181204T104215Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=d1a3a233a6ef89cbe752a4fe3bce793c93e1f2b603d442d51cf6597602bd31a1"></span>
        <div class="searc_col_rt">
          <ul class="post_likes">
            <li><a href="javascript:void(0);"><i class="fas fa-code"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fas fa-thumbs-up"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fas fa-thumbs-down"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>


<div class="modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="embed-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Embed Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
         <div id="select_id">
         </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id= "main-tag-modal">

</div>
<script>

  // $(document).on("click",".url_data", function(e){
  //   e.preventDefault();
  //   var _self = $(this);
  //   var urlId = $(this).data('id');
  //   console.log(_self )
  //    $(".modal-body #bookId").val( urlId );
  //    // As pointed out in comments,
  //    // it is superfluous to have to manually call the modal.
  //    // $('#addBookDialog').modal('show');

  // })
</script>

