<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="embed-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Embed Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
         <div id="why_tag">
          <h1>Info</h1>
         <%= simple_form_for setup_why_tag(WhyTag.new), url: create_path(url: params[:url]),remote: true, method: :post do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.fields_for :why_datum do |i| %>
                <%= i.input :subject %>
                <%= i.input :subcategory %>
                <%= i.input :title %>
                <%= i.input :description %>
                <%= i.input :link %>
              <% end %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "SAVE", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
