<div class="post_modal modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="embed-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
         <div id="why_tag">
         <%= simple_form_for setup_why_tag(WhyTag.new), url: create_path(url: params[:url]),remote: true, method: :post do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.fields_for :why_datum do |i| %>
                <%= i.input :subject %>
                <div class="form-group">
                      <label>Category</label>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Arts' %>
                              <span>Arts</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Business' %>
                                <span>Business</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Computers' %>
                                <span>Computers</span>
                              </label>
                          </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Games' %>
                                <span>Games</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Health' %>
                                <span>Health</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Book' %>
                                <span>Book</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Syndrome' %>
                                <span>Syndrome</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Home/Family' %>
                                <span>Home/Family</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Cars/Auto' %>
                                <span>Cars/Auto</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'News' %>
                                <span>News</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Recreation' %>
                                <span>Recreation</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Computers' %>
                                <span>Computers</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Sports' %>
                                <span>Sports</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Reference' %>
                                <span>Reference</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Regional' %>
                                <span>Regional</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Science' %>
                                <span>Science</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Shopping' %>
                                <span>Shopping</span>
                              </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Society' %>
                                <span>Society</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="radio">
                            <label>
                              <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Travel' %>
                                <span>Travel</span>
                              </label>
                          </div>
                        </div>
                    </div>
                    <div class="radio ">
                        <label class= "add_category" >
                           <%= i.radio_button :subject, id: 'subject', name: 'subject', type: 'radio', value: 'Other'%>
                            <span>Other</span></label>
                    </div>
                    <div class="form-group other other_category">
                        <input class="form-control" id="subject" name="subject" type="text">
                    </div>
                      <%= i.input :subcategory %>
                      <%= i.input :title %>
                      <%= i.input :description %>
                      <%= i.input :link %>
                 </div>
              <% end %>
              <div class="modal-footer" style="float: left;border:none;padding: 0px;">
                <%= f.submit "Submit", class: "btn default_btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.other_category').hide()
  $('.add_category').click(function(){
    $('.other_category').toggle()
  })
</script>
