<% @urls.each do |url| %>
    <section class="searcheng wdth100">
      <% @url = url %>
      <% if url.present? %>
        <a href="<%= url.url %>" target="_blank">
          <%= image_tag url.favicon_url, class: 'pull-left thumb-sm m-r-sm img-circle favicon_img' %>
        </a>
        <div class="searcheng_row wdth100">
          <span class="arrow left">
          </span>
          <div class="searcheng_col panel-heading wdth100 bdr_btom0">
            <a href="<%= profile_path(url.domain_user.username) %>" target="_blank">
              <span> <%= "@" + url.domain %>
              </span>
              <%= link_to url.url do %>
                <h5><%= url.title %></h5>
              <% end %>
            </a>
          </div>
          <div class="searcheng_col2 flex_strt wdth100 mgtop0">
            <span class="img_box">
              <%= image_tag url.screenshot_url, class: 'pull-left thumb-sm m-r-sm img-circle ' if url.screenshot_url.present? %>
            </span>
            <div class="search_desc wdth100">
              <span class="dsp_flexx">
                <%= link_to urls_show_path(url.slug) do %>
                  <i class="fab fa-searchengin"></i>
                <% end %>
                <%= link_to url.url, class: 'search_desc' do %>
                  <%= url.description.truncate(130) if url.description.present? %>
                <% end %>
              </span>
              <%= link_to url.url, class: '' do %>
                <span class="dash_border">
                <i class="fas fa-external-link-alt"></i><%= url_concate(url.url) %>
                </span>
              <% end %>
              <div class="searc_col_rt">
                <div class="icon_tags">
                  <%= render  "tags/tags_links" %>
                </div>
                <ul class="post_likes">
                  <li>
                    <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                    <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to like_path(url: url), method: :post, remote: true do %>
                    <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= url.likes.count %>
                    </i>
                    <% end %>
                  </li>
                    <li>
                    <%= link_to dislike_path(url: url), method: :post, remote: true do %>
                    <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= url.dislikes.count %>
                    </i>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="diff-tag_<%= url.id %>">
          </div>
           <% if url.tags.present? %>
            <% limit_tags(url).each do |tag| %>
             <!--  <div class="inner_tag_rgt date_bar">
                <%# if tag.type == "WhereTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.where_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "WhatTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.what_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "WhyTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.why_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "WhenTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.when_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "WhoTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.who_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "VideoTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.video_datum.created_at.strftime('%A %B %d') %>
                  </span>
                  <%# elsif tag.type == "PhotoTag" %>
                  <span>
                    <i class="far fa-clock"></i>
                  <%#= tag.photo_datum.created_at.strftime('%A %B %d') if tag.photo_datum.present? %>
                  </span>
                <%# end %>
              </div> -->
              <div class="inner_tag">
                <% if tag.type == "WhereTag" %>
                  <span class="inner_tag_lft"><i class="fas fa-map-marker-alt"></i>
                  </span>
                  <div class="inner_tag_rgt">
                   <span class="location_where bg-danger">
                    <%= tag.where_datum.location %>
                  </span>
                  <span class = "why_descp">
                    <%= tag.where_datum.description %>
                  </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin')|| current_user.editor %>
                          <li class="cstm_checkbox">
                            <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end %>
                              <!-- <input type="checkbox" id="test1" />
                              <label for="test1"></label> -->
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "WhatTag" %>
                  <span class="inner_tag_lft"><i class="fas fa-info-circle"></i>
                  </span>
                  <div class="inner_tag_rgt">
                    <span class="what_item_name bg-success">
                        <%= tag.what_datum.item_name %>
                      </span>
                      <span class = "why_descp">
                        <%= tag.what_datum.description %>
                      </span>
                    <ul class="post_likes">
                      <%# if current_user.present? && current_user.has_role?('regular') %>
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                            <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "WhyTag" %>
                  <span class="inner_tag_lft"><i class="fas fa-info-circle"></i>
                  </span>
                  <div class="inner_tag_rgt">
                    <span class="info_subcategory bg-primary">
                      <%= tag.why_datum.subcategory %>
                    </span>
                    <span class = "why_descp">
                      <%= tag.why_datum.description %>
                    </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                            <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "WhenTag" %>
                  <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i>
                  </span>
                  <div class="inner_tag_rgt">
                  <span class = "when_time bg-dark">
                    <%#= tag.when_datum.date.strftime('%A %B %d') %>
                    <%= tag.when_datum.time.strftime('%F') %>
                  </span>
                  <span class = "why_descp">
                    <%= tag.when_datum.description %>
                  </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                            <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "WhoTag" %>
                  <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i>
                  </span>
                  <div class="inner_tag_rgt">
                    <span>
                      <%= tag.who_datum.name %>
                      <%= tag.who_datum.account %>
                      <%= tag.who_datum.website_url %>
                      <%= tag.who_datum.description %>
                    </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                            <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "VideoTag" %>
                  <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i>
                  </span>
                  <div class="inner_tag_rgt">
                    <span>
                      <%#= tag.video_datum.video_url %>
                      <%#= tag.video_datum.category %>
                      <%= tag.try(:video_datum).try(:html_code)%>
                      <%= tag.try(:video_datum).try(:description) %>
                    </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                           <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif tag.type == "PhotoTag" %>
                  <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i>
                  </span>
                  <div class="inner_tag_rgt">
                    <span>
                      <%#= tag.photo_datum.photo_url %>
                    </span>
                    <ul class="post_likes">
                      <% if current_user.present? %>
                        <% if current_user.has_role?('superadmin') || current_user.editor %>
                          <li class="cstm_checkbox">
                           <% if tag.verified %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>" checked>
                              <label for="<%= tag.id %>"></label>
                            <% else %>
                              <input type="checkbox" id="<%= tag.id %>" class="verified" name="verified" value="<%= tag.verified %>">
                              <label for="<%= tag.id %>"></label>
                            <% end%>
                          </li>
                        <% end %>
                      <% end %>
                      <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= tag.like.count %></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= tag.dislike.count %>
                        </i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>


