<div class="content">
  <div class = "row">
    <div class = "col-sm-12">
      <h2>User Profile</h2>
      <%= current_user.username %>
      <%= current_user.email %>
    </div>
  </div>
  <br/>
  <div class = "row">
    <div class = "col-sm-12">
      <h4>You are following <%= current_user.follow_count %> Users</h4>
      <ul>
        <% current_user.all_follows.each do |follow| %>
          <li>
            <%= follow.followable.email %>
            <div id = "follow_unfollow_user_<%= follow.followable.slug %>">
              <%= render 'follow_unfollow_user', user: follow.followable %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br/>
  <div class = "row">
    <div class = "col-sm-12">
      <h4>Your followers: <%= current_user.followers.count %></h4>
      <% current_user.followers.each do |follow| %>
        <%= follow.follower.email %>
      <% end %>
    </div>
  </div>
</div>
