<nav class="navbar navbar-expand-sm fixed-top cstm_navbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to root_path do %>
        <%= image_tag 'BootCampIcon.png', class: 'rounded' %>
      <% end %>
    </li>
    <li>
      <div class="mglft_25">
        <form class="form-inline" action="#">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </li>

  </ul>
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
        <%= image_tag current_user.avatar, class: 'rounded' if current_user.avatar.present? %>
      </li>
      <li>
        <div class="mglft_25">
          Name:
          <br>
          <%= current_user.name %>
        </div>
      </li>
      <li class="mglft_25">
        Email:
        <br>
        <%= current_user.email %>
      </li>
    <% end %>
  </ul>
</nav>
