<div class="reslt_body wdth100">
  <div class="reslt_row wdth100">
    <span class="arrow left"></span>
    <div class="reslt_col wdth100">
      <div class="wdth100">
        <% if params.has_key?(:where_tag) %>
        <span class="inner_tag_lft"><i class="fas fa-map-marker-alt"></i></span>
          <div>
            <%= @data.where_datum.location %>
            <%= @data.where_datum.description %>
          </div>
        <% elsif params.has_key?(:what_tag) %>
          <div>
            <%= @data.what_datum.item_name %>
            <%= @data.what_datum.category %>
            <%= @data.what_datum.website_url %>
            <%= @data.what_datum.description %>
          </div>
        <% elsif params.has_key?(:why_tag) %>
          <div>
            <%= @data.why_datum.subject %>
            <%= @data.why_datum.subcategory %>
            <%= @data.why_datum.title %>
            <%= @data.why_datum.description %>
          </div>
        <% elsif params.has_key?(:when_tag) %>
          <div>
            <%= @data.when_datum.date %>
            <%= @data.when_datum.time %>
            <%= @data.when_datum.description %>
          </div>
        <% elsif params.has_key?(:who_tag) %>
          <div>
            <%= @data.who_datum.name %>
            <%= @data.who_datum.account %>
            <%= @data.who_datum.website_url %>
            <%= @data.who_datum.description %>
          </div>
        <% elsif params.has_key?(:video_tag) %>
          <div>
            <%= @data.video_datum.video_url %>
            <%= @data.video_datum.category %>
            <%= @data.video_datum.html_code %>
            <%= @data.video_datum.description %>
          </div>
         <% elsif params.has_key?(:photo_tag) %>
          <div>
            <%= @data.photo_datum.photo_url %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="post_likes">
    <li>
      <%= link_to get_url_object_path(@url.id),remote: :true, class:  'url_data' do %>
        <i class='fas fa-code id="tag_details_<%= @url.id %>'></i>
      <% end %>
    </li>
    <li>
      <%= link_to like_path(url: @url), method: :post, remote: true do %>
        <i class="<%= @url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= @url.id %>"><%= @url.likes.count %></i>
      <% end %>
    </li>
    <li>
      <%= link_to dislike_path(url: @url), method: :post, remote: true do %>
        <i class=" <%= @url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= @url.id %>"><%= @url.dislikes.count %>
       </i>
      <% end %>
    </li>
  </ul>
</div>
