<% if params.has_key?(:where_tag) %>
  <div>
    <%= @data.what_datum.location %>
    <%= @data.what_datum.description %>
  </div>

<% elsif params.has_key?(:what_tag) %>
  <div>
    <%= @data.what_datum.item_name %>
    <%= @data.what_datum.category %>
    <%= @data.what_datum.website_url %>
    <%= @data.what_datum.description %>
  </div>

<% elsif params.has_key?(:why_tag) %>
  <div>
    <%= @data.why_datum.subject %>
    <%= @data.why_datum.subcategory %>
    <%= @data.why_datum.title %>
    <%= @data.why_datum.description %>
  </div>


<% elsif params.has_key?(:when_tag) %>
  <div>
    <%= @data.when_datum.date %>
    <%= @data.when_datum.time %>
    <%= @data.when_datum.description %>
  </div>


<% elsif params.has_key?(:who_tag) %>
  <div>
    <%= @data.who_datum.name %>
    <%= @data.who_datum.account %>
    <%= @data.who_datum.website_url %>
    <%= @data.who_datum.description %>
  </div>


<% elsif params.has_key?(:video_tag) %>
  <div>
    <%= @data.video_datum.video_url %>
    <%= @data.video_datum.category %>
    <%= @data.video_datum.html_code %>
    <%= @data.video_datum.description %>
  </div>


 <% elsif params.has_key?(:photo_tag) %>
  <div>
    <%= @data.photo_datum.item_name %>
    <%= @data.photo_datum.category %>
    <%= @data.photo_datum.website_url %>
    <%= @data.photo_datum.description %>
  </div>

<% end %>
