<div class="content">
   <% @urls.each do |url, tags| %>
   <section class="searcheng wdth100">
      <% @url = url %>
      <% if url.present? %>
      <a href="<%= url.url %>" target="_blank">
      <%= image_tag url.favicon_url, class: 'pull-left thumb-sm m-r-sm img-circle favicon_img' %>
      </a>
      <div class="searcheng_row wdth100">
         <span class="arrow left">
         </span>
         <div class="searcheng_col panel-heading wdth100 bdr_btom0">
            <a href="<%= get_domain_path(url.domain_user.username) %>" target="_blank">
               <span> <%= "@" + url.domain %>
               </span>
               <%= link_to url_concate(url.url) do %>
               <h5><%= url.title %></h5>
               <% end %>
            </a>
         </div>
         <div class="searcheng_col2 flex_strt wdth100 mgtop0">
            <span class="img_box">
            <%= image_tag url.screenshot_url, class: 'pull-left thumb-sm m-r-sm img-circle ' if url.screenshot_url.present? %>
            </span>
            <div class="search_desc wdth100">
               <span class="dsp_flexx">
               <%= link_to url_path(url.id) do %>
               <i class="fab fa-searchengin"></i>
               <% end %>
               <%= link_to url.url, class: 'search_desc' do %>
               <%= url.description.truncate(130) if url.description.present? %>
               <% end %>
               </span>
               <%= link_to url.url, class: '' do %>
               <span class="dash_border">
               <i class="fas fa-external-link-alt"></i><%= url_concate(url.url) %>
               </span>
               <% end %>
               <div class="searc_col_rt">
                  <ul class="post_likes">
                     <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                     </li>
                     <li>
                        <%= link_to like_path(url: url), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%= url.likes.count %></i>
                        <% end %>
                     </li>
                     <li>
                        <%= link_to dislike_path(url: url), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%= url.dislikes.count %>
                        </i>
                        <% end %>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="cstm_tags">
            <%= render  "tags/tags_links" %>
         </div>
         <div id="diff-tag_<%= url.id %>">
         </div>
        <% if url.tags.present? %>
         <% url.tags.each do |tag| %>
         <div class="inner_tag_rgt date_bar">
          <% if tag.type == "WhereTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.where_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "WhatTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.what_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "WhyTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.why_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "WhenTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.when_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "WhoTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.who_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "VideoTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.video_datum.created_at.strftime('%A %B %d') %>
              </span>
              <% elsif tag.type == "PhotoTag" %>
              <span>
                <i class="far fa-clock"></i>
              <%= tag.photo_datum.created_at.strftime('%A %B %d') if tag.photo_datum.present? %>
              </span>
          <% end %>
        </div>
         <div class="inner_tag">
            <% if tag.type == "WhereTag" %>
                <span class="inner_tag_lft"><i class="fas fa-map-marker-alt"></i></span>
              <div class="inner_tag_rgt">
                <span>
                  <%= tag.where_datum.location %><br>
                  <%#= tag.where_datum.description %>
                </span>
            <%elsif tag.type == "WhatTag" %>
                <span class="inner_tag_lft"><i class="fas fa-tags text_info"></i></span>
                <div class="inner_tag_rgt">
                  <span>
                    <%= eval(tag.what_datum.category)[:value] %>
                    <%= tag.what_datum.item_name %>
                    <%#= tag.what_datum.website_url %>
                    <%#= tag.what_datum.description %>
                  </span>
            <% elsif tag.type == "WhyTag" %>
              <span class="inner_tag_lft"><i class="fas fa-info-circle"></i></span>
              <div class="inner_tag_rgt">
                <span>
                  <%= eval(tag.why_datum.subject)[:value] %>
                  <%= tag.why_datum.subcategory %>
                  <%= tag.why_datum.title %>
                  <%#= tag.why_datum.description %>
                </span>
            <% elsif tag.type == "WhenTag" %>
              <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i></span>
              <div class="inner_tag_rgt">
                <span>
                  <%#= tag.when_datum.date.strftime('%A %B %d') %>
                  <%= tag.when_datum.time.strftime('%A %B %d') %>
                  <%#= tag.when_datum.description %>
                </span>
            <% elsif tag.type == "WhoTag" %>
              <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i></span>
               <div class="inner_tag_rgt">
              <span>
                <%= tag.who_datum.name %>
                <%= tag.who_datum.account %>
                <%= tag.who_datum.website_url %>
                <%= tag.who_datum.description %>
              </span>
            <% elsif tag.type == "VideoTag" %>
              <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i></span>
              <div class="inner_tag_rgt">
              <span>
                <%= tag.video_datum.video_url %>
                <%#= eval(tag.video_datum.category)[:value] %>
                <%= tag.video_datum.html_code %>
                <%= tag.video_datum.description %>
              </span>
            <% elsif tag.type == "PhotoTag" %>
              <span class="inner_tag_lft"><i class="far fa-calendar-alt"></i></span>
              <div class="inner_tag_rgt">
                <span>
                  <%= tag.photo_datum.photo_url if tag.photo_datum.present? %>
                </span>
            <% end %>
                  <ul class="post_likes">
                     <li>
                        <%= link_to get_url_object_path(url.id),remote: :true, class:  'url_data' do %>
                        <i class='fas fa-code id="tag_details_<%= url.id %>'></i>
                        <% end %>
                     </li>
                     <li>
                        <%= link_to like_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class="<%= url.likes.count > 0 ? 'is-like': '' %>  fas fa-thumbs-up user-like" id="like_<%= url.id %>"><%#= tag.like.count %></i>
                        <% end %>
                     </li>
                     <li>
                        <%= link_to dislike_path(url: url, tag: tag), method: :post, remote: true do %>
                        <i class=" <%= url.dislikes.count > 0 ? 'is-dislike' : '' %> fas fa-thumbs-down user-dislike" id="dislike_<%= url.id %>"><%#= tag.dislike.count %>
                        </i>
                        <% end %>
                     </li>
                  </ul>
                </div>
              </div>
            <% end %>
           <% end %>
         <% end %>
      </div>
   </section>
   <% end %>
</div>
<div class="post_modal modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="embed-modalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Embed Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-group">
               <label>To add this post on your site, just copy code below.</label>
            </div>
            <div class="form-group">
               <textarea class="form-control">
                        <blockquote class='embedded-whoot'>
                            <link rel="stylesheet" type="text/css" href="http://my.searcheng.in/assets/application.css">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class='embedded-whoot'>
                                    <section class="panel vbox" style="height: auto">
                                        <header class="panel-heading">
                                            <div class="clear">
                                                <a href="http://searcheng.in/e/@abbreviations.com"><img alt="abbreviations.com" class="pull-left thumb-sm m-r-sm img-circle" src="//icons.better-idea.org/icon?url=abbreviations.com&amp;size=80" /><span class="m-l-xs pull-left"></span><small class="text-muted pull-right m-t-sm">Friday January 04</small><strong>&nbsp@abbreviations.com</strong>
                                                    <br /><small>&nbsp</small></a>
                                            </div>
                                        </header>
                                        <aside class="whoot-media">
                                            <section class="hbox">
                                                <aside style="width: 111px;"><img class="img-full" src="https://bootcamps-uploads.s3.amazonaws.com/store/d351ac373673f972db2b409c5e5ff083?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJF5QHW2P5ZLAGVDQ%2F20190104%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20190104T053422Z&amp;X-Amz-Expires=900&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=2e767d33f482fd146180077234071a2d52182b616161a5f0b2b7448fe43721d1" /></aside>
                                                <aside class="v-middle pos-rlt">
                                                    <div class="wrapper">
                                                        <p><a href="http://searcheng.in/e/ad1W1Q"><i class="icon-list-alt"></i></a> | TCCT - TCCTM - TCCU - TCCW - TCCX - TCDB - TCDC - TCDD - TCDE - TCDHC &quot;TCD.&quot; Abbreviations.com. STANDS4 LLC, 2018. Web. 3 Jan. 2019. &lt;htt...</p><a href="https://www.abbreviations.com/TCD" style="border-bottom: 1px dashed #575757; word-break: break-all;" target="_blank"><i class="icon-external-link"></i> https://www.abbreviations.com/TCD</a>
                                                        <br /><span class="text-muted m-l-sm pull-right"><strong class="likes-dislikes"><a class="url-like" data-url="1949867" href="#" title="Like"><i class="icon-thumbs-up"><small class="likes">0</small></i> /</a><a class="url-dislike" data-url="1949867" href="#" title="Dislike"><i class="icon-thumbs-down"><small class="dislikes">0</small></i></a></strong></span>
                                                        <br />
                                                        <br />
                                                    </div><span class="arrow left hidden-xs"></span></aside>
                                            </section>
                                        </aside>
                                        <aside>
                                            <section class="panel m-b-none">
                                                <footer class="panel-footer pos-rlt">
                                                    <ul class="nav nav-pills">
                                                        <li><a data-id="1949867" data-target="#who-modal" data-toggle="modal" href="#" title="Add Who Tag"><i class="icon-user text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" data-target="#where-modal" data-toggle="modal" href="#" title="Add Where Tag"><i class="icon-map-marker text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" data-target="#what-modal" data-toggle="modal" href="#" title="Add What Tag"><i class="icon-tags text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" data-target="#when-modal" data-toggle="modal" href="#" title="Add When Tag"><i class="icon-calendar text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" data-target="#why-modal" data-toggle="modal" href="#" title="Add Info Tag"><i class="icon-info-sign text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" href="http://my.searcheng.in/?se=http://localhost:3003/" title="Add Photo"><i class="icon-camera text-info"></i><small>0</small></a></li>
                                                        <li><a data-id="1949867" data-target="#video-modal" data-toggle="modal" href="#" title="Embed Video, Tweets, HTML"><i class="fa fa-code text-info"></i><small>0</small></a></li>
                                                    </ul>
                                                </footer>
                                            </section>
                                        </aside>
                                    </section>
                                    <div class="pull-right">powered by<a href="http://searcheng.in"> searcheng.in</a></div>
                                </div>
                            </div>
                        </blockquote>
                    </textarea>
            </div>
            <blockquote>
               <div class="panel_box wdth100">
                  <ul id="select_id" class="nav nav-pills">
                  </ul>
               </div>
            </blockquote>
         </div>
         <div class="modal-footer">
            <div class="pull-right footr_txt">powered by<a href="http://searcheng.in"> searcheng.in</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="main-tag-modal"></div>


<script>
   $(".user-like").click(function() {
       $(this).toggleClass("is-like");
   });

   $(".user-dislike").click(function() {
       $(this).toggleClass("is-dislike");
   });
</script>
